* {
  margin: 0;
  padding: 0;
}

/* global styles */

.link-no-decoration {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Arial MT";
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inner {
    width: 970px;
    display: flex;
    max-width: 970px;
}

.flex {
    display: flex;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

.between{
    justify-content: space-between;
}

/* Header */

.header {
  font-size: 11px;
  color: #ffffff;
  min-height: 30px;
  width: 100%;
}

.black {
    background-color: #000000;
}

.header .info {
    display: inline-flex;
    align-items: flex-end;
}

.header .number,
.header .care {
    font-size: 12px;
}

.header .select,
.header .account,
.header .search {
    padding: 6px 15px; 
    border-left: 1px solid #444;
    
}

.header .account .icon {
    margin-right: 10px;
}

.header .search {
    padding: 0 10px;
    border-right: 1px solid #444;
}

.header select {
    color: #ffffff;
    background: #000000;
    border: 0;
}

.select :active, 
.select :hover {
    outline: none;
}

.search img{
    width: 15px;
}

.icon{
    width: 14px;
}

/* Logo */

.logo {
    min-height: 105px;
}

.border_cash_top {
    width: 214px;
    border: 1px solid #949393; 
    border-bottom: 0;  
}

.your_cart {
    color: #949393;
    font-family: "Arial MT";
    font-size: 12px;
    white-space: pre;  
    padding: 10px;   
}

.border_cash_bottom {
    width: 214px;
    border: 1px solid #949393;
}

.basket {
    padding: 5px 100px 0 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.amount {
    display: inline-block;
    font-size: 11px;
    font-family: "Arial MT";
    color: #949393;
    margin: 10px;
}

/* MENU OPTIONALLY */

.menu_optionally {
    background-color: #fd926d;
    height: 48px;
    margin: 5px 0 17px 0;
    display: none;
}

.hamburger_text_menu {
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 18px;
    padding-left: 17px;
}

.hamburger_icon {
    display: none;
}

/* Crazy   */

.crazy{
    background-color: #f6f3ec;
    height: 440px;
}

.slider { 
    position: relative;
    height: 100%;
}

.crazy_lady {
    background-image: url(IMG/Crazy_lady.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider img {
    position: absolute;
    height: 440px;
    right: 0;
}

.button-shop-now {
    position: absolute;  
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue LT Std - Th";
    text-decoration: none;  
    user-select: none;
    padding: 23px;
    border-bottom: 3px solid #dd6b44;
    background: #fd926d;  
    top: 305px;
    left: 150px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    color: #ededed;
    background-color: #ffffff;
    padding: 50px 10px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: #fd926d;
}


/* Dot */

.dot {
    color: #867a76;
    display: inline-block;
    margin: 20px 8px;
    font-size: 40px; 
    text-decoration: none;
    user-select: none;  
    cursor: pointer; 
    transition: color 0.6s ease;
}

.active,
.dot:hover {
    color: #fd926d;
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration: 1.5s;
    animation-name:fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: 0.4}
    to{opacity: 1}
}

@keyframes fade {
    from{opacity: 0.4}
    to{opacity: 1}
}

/* gray */

.gray{
    background: #ededed;  
    width: 100%;
    color: #6b6b6b;
    
}

.stay-updated-email{    
    display: flex;    
}

.stay-updated{
    margin-right: 10px; 
    margin-top: 4px;    
}

.stay-updated-email input[type="text"]{    
    background: white;
    color: #9f9f9f;  
    font-style: italic;      
}

.stay-updated-email input[type="submit"]{
    background: #fd926d url(IMG/plus.png) no-repeat 50%;
    border: 0px;
    width: 28px;
    height: 28px;
    border-bottom: 3px solid #dd6b44;
}

.find-us > a > img {
    height: 21px;
}

.find-us > a {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-us__title {
    margin-right: 15px;
}

.facebook,
.p-icon{
    background-color: #f7f7f7;
    
}

/* GOODS */

.img-menu{
    margin-top: 40px; 
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.img-menu img {
    position: absolute;
}

/* IMG menu left */

.img-menu-left{
    display: inline-block;
    background-image: url('IMG/Layer_6.png');     
    height: 340px; 
    position: relative;
    width: 483px;    
}

.img-menu-left_layer_1 {
    left: 298px; 
    top: 69px;
}

.img-menu-left_layer_2 {
    left: 224px; 
    top: 105px;
}

.img-menu-left_layer_3 {
    left:316px; 
    top: 166px;
}

.img-menu-left_layer_4 {
    left: 326px; 
    top: 174px;
}

.img-menu-left_layer_5 {
    left: 225px; 
    top: 205px;
}

.img-menu-left_layer_6 {
    left: 226px; 
    top: 182px;
}

.img-menu-left_layer_7 {
    left: 352px; 
    top: 182px;
}

/* IMG menu right */

.img-menu-right { 
    display: inline-block;   
    width: 483px;
    height: 340px;
}

.img-menu-right-top {
    background-image: url('IMG/Layer_3.png'); 
    height: 169px; 
    position: relative;
    width: 100%;
}

.img-menu-right-top_layer_1{
    left:29px; 
    top:17px;
}

.img-menu-right-top_layer_2{
    top: 22px; 
    left: 34px;
}

.img-menu-right-top_layer_3{
    top: 46px; 
    left: 60px;
}

.img-menu-right-top_layer_4{
    top: 70px; 
    left: 50px;
}

.img-menu-right-top_layer_5{
    top: 108px; 
    left: 60px;
}

.img-menu-right-bottom {
    margin-top: 2px;
}

.img-menu-right-bottom-left{    
    float: left;
    background-image: url('IMG/Layer_5.png'); 
    height: 169px; 
    width: 241px; 
    position: relative;
}

.img-menu-right-bottom-left-1 {
    top:111px;
}

.img-menu-right-bottom-left-2 {
    left:27px; 
    top:129px;
}

.img-menu-right-bottom-right {
    float: right; 
    background-image: url('IMG/Layer_7.png'); 
    height: 169px; 
    width: 241px; 
    position: relative;
}

.img-menu-right-bottom-right-1 {
    left:19px; 
    top:47px;
}

.img-menu-right-bottom-right-2 {
    left:30px; 
    top:122px;
}

.img-menu-right-bottom-right-3 {
    left:38px; 
    top:132px;
}

.img-menu-right-bottom-right-4 {
    left:112px; 
    top:133px;
}

.prev_goods_slide,
.next_goods_slide {
    color: white;
    background: #f2f2f2; 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    user-select: none;  
    cursor: pointer; 
}

.prev_goods_slide:hover,
.next_goods_slide:hover{
    background-color: #fd926d;
}

.what-is-hot img {
    display: none;
}

.designers-featured-latest {
    color: #555555;
    padding: 19px 19px 15px 19px; 
    text-decoration: none;
    user-select: none;  
    cursor: pointer; 
    transition: color 0.6s ease;
}

.goods_container{
    background-color: #fd926d;
}

.goods{
    height: 395px;
    width: 220px;
    margin: 30px 0;
    background-color: #f9f5f4;
    text-align: center;
    position: relative;
}

.goods:hover {    
    transform: scale(1.08);
}

.goods:hover .shop-it{
    display: block;
}

.goods img{
    width: 220px;
    height: 295px;
    object-fit: none;
    object-position: top;
}

.shop-it {    
    position: absolute;
    background-color: #3d3d3d;
    border-radius: 50%; 
    width: 134px;
    height: 134px;
    top: 98px;
    left: 45px;
    opacity: 0.95;
    display: none;
}

.shop-it img {
    position: absolute;
    top: 43px;
    left: -42px;
    
}

.shop-it-text {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    top: 81px;
    left: 44px;
}

.name-goods{
    color: #373737;
    font-size: 12px;
    margin-bottom: 5px;    
}

.money{
    color: #373737;
    font-size: 22px;
}

.button-pay{
    display: inline-block;    
    color: white;
    font-size: 15px;
    text-decoration: none;  
    user-select: none;
    padding: 5px 10px;
    border-bottom: 3px solid #dd6b44;
    background: #fd926d;  
    margin-top: 5px;
}

.load-more {
    display: none;
}

/* Clearance */

.clearance-wraper {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 24px; 
}

.clearance-wraper::before,
.clearance-wraper::after {
    content: '';
    width: calc(100% - 50% - 100px);
    height: 1px;
    background-color: #b2b2b2;
    position: absolute;
    top: calc(100% - 50% - 1px);
}

.clearance-wraper:after {
    left: 0;
}

.clearance-wraper::before {
    right: 0;
}

.clearance{
    background: url('IMG/Shape_5.png') no-repeat;
    display: inline-block; 
    position: relative; 
    width: 157px;
    height: 157px;       
}

.Layer_pictures_1 {
    position: absolute; 
    top:8px; 
    left: 8px;
}

.Layer_pictures_2 {
    position: absolute; 
    top:32px; 
    left: 42px;
}

.Layer_pictures_3 {
    position: absolute; 
    top:69px; 
    left: 52px;
}

.Layer_pictures_4 {
    position: absolute; 
    top:69px; 
    left: 89px;
}

.Layer_pictures_5 {
    position: absolute; 
    top:102px; 
    left: 89px;
}

/* Favourite brands */


.favourite_brands_main {
    border-bottom: 1px solid #b2b2b2; 
    flex-direction: column;   
}

.favourite_brands {
    align-items: center;
    padding: 15px 0;
    width: 100%
}

.favourite_brands_text {
    display: inline-block;
    color: #414141;
    font-size: 15px;
    position: relative;
    width: 100%;  
    margin: 0;
    text-align: center;
}         

.favourite_brands_text::before,
.favourite_brands_text::after {
    content: '';
    width: calc(100% - 50% - 100px);
    height: 1px;
    background-color: #b2b2b2;
    position: absolute;
    top: calc(100% - 50% - 1px);
}
        
.favourite_brands_text::after {
    left: 0;
}
        
.favourite_brands_text::before {
    right: 0;
}

.about {
    justify-content: center; 
    margin-top: 50px;
}

.about p {
    font-size: 24px; 
    color: #414141;
}

.text_info {
    text-align: center; 
    margin: 15px 10px 27px 15px;
}

.text_info p {
    font-size: 15px; 
    color: #999999;
}

.pay {
    background-color: #f7f7f7;
}

.pay p {
    font-size: 13px; 
    color: #999999;
}

.pay img{
    margin:19px 0px 17px 15px;
}
/* Footer */

.footer {
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer_info {
    background-color: #ededed;
}

.footer h5 {
    color: #544f4d;
    font-family: "Arial - Bold MT";
    font-size: 16px;
    line-height: 40px;
}

.footer a {
    opacity: 0.7;
    color: #544f4d;
    font-size: 12px;
    line-height: 18px;
    display: block;
}

.footer_menu {
    display: inline-flex; 
    color: #8d8d8d;     
    font-size: 11px;
}

.footer_menu a {
    color: #8d8d8d;
}

.footer .links {
    width: 125px;
}

.links a {
    display: inline-block;
}

.footer_menu div:not(:first-child){
    border-left: 1px solid #8d8d8d;
    margin-left: 10px;
    padding-left: 10px;
}

.secured_logo {
    background-image: url('IMG/Shape_7.png'); 
    width: 107px; 
    height: 107px; 
    position: relative;
}

.secured_logo img {
    position: absolute;
}


.secured_logo_layer_1 {    
    top:7px; 
    left: 7px;
}

.secured_logo_layer_2 {    
    top: 11px; 
    left: 11px;
}

.secured_logo_layer_3 {
    top:37px; 
    left: 22px;
}

.secured_logo_layer_4 {
    top:66px; 
    left: 29px;
}

.footer_black{
    background-color: #000000; 
    height: 60px;
}

.copyright {
    width: 97px;
}

.copyright img {
    width: 100%;
}






@media screen and (max-width: 768px) {


    .container-inner {
        width: 730px;
        max-width: 730px;
    }

    .hide_768 {
        display: none;
    }

    .menu_optionally{
        display: flex;
        position: relative;
    }

    .hamburger_icon {
        display: block;
        height: 32px;
        width: 32px;
        margin-right: 17px;              
    }

    .menu_clearfix {
        position: absolute;
        background-color: #fd926d;
        right: 0;
        top: 45px;
        z-index: 1;
        display: none;
    }

    .menu_clearfix li {
        padding: 10px;
        border-bottom: 1px solid #dd6b44;
    }

    .menu_clearfix li a {
        color: #ffffff;
        font-family: "Arial MT";
        font-size: 18px;
        text-decoration: none;
       
    }

    .button-shop-now {
        left: 100px;
    }

    .goods:hover{        
        transform: scale(1);
    }

    .goods:hover .shop-it{
        display: none;
    }

}





@media screen and (max-width: 640px) {

    *{
        font-size: 30px;
    }

    .header,
    .haeder .info,
    .hamburger_icon {
        display: block;
    }
    
    .hide_640{
        display: none;
    } 

    .header .info {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 37px 0 37px 0;
        color: grey;
        background-color: #fff;             
    }

    .header .number,
    .header .care{
        font-size: 30px;
    }

    .search img{
        width: 33px;        
    }    

    .icon{
        width: 40px;
        padding-left: 50px;
        padding-right: 0px;
    }     

    .header .select,
    .header .search{
        border: 0;
        padding: 0 30px;
    }
    .header .account{
        border-right: 1px solid #444;
        padding: 29px 35px 29px 0;      
    } 

    .info-account {
        height: 96px;
    }

    .border_block {
        width: calc(100% - 15px);
    }

    .border_cash_bottom {
        background-color: #fafafa;
        width: 100%;
        height: 96px;
    }

    .logo {
        flex-direction: column;
    }

    .graficlogo {
        width: 275px;
        margin: 55px 0;
    }

    .basket {
        height: 50px;
        width: 50px;
        float: left;
        margin: 18px 0 0 20px;
    }

    .amount {
        float: right;
        margin: 30px 20px 0 0;
    }

    .menu_optionally {
        width: calc(100% - 15px);;
        height: 95px; 
        margin-top: 23px;        
    }

    .menu_optionally p {
        font-size: 30px;
    }

    .menu_optionally .hamburger_icon {        
        width: 32px;
        height: 32px;
        margin-right: 17px;
    }
    

    /* STAY UPDATE */

    .gray {
        background-color: white;
        margin-top: 7px;
    }

    .stay-update-link {
        flex-direction: column;
        width: calc(100% - 15px);
        margin-bottom: 11px;
    }

    .stay-updated-email {
        width: 100%;
    }

    .stay-updated-email input[type="text"] { 
        background-color: #ededed;
        border: 0;
        height: 96px;
        width: 85%;
        padding-left: 29px;
        margin-bottom: 25px;
    }

    .stay-updated-email input[type="submit"] {
        width: 96px;
        height: 96px;
        background-size: 40%;
        border-bottom: 8px solid #dd6b44;
    }   

    .find-us > a {
        width: 90px;
        height: 90px;
    }

    .find-us > a > img {
        transform: scale(1.4);
    }

    .find-us .twitter {
        background-color: #ededed;
    }


    .container_640_what-is-hot {
        width: 100%;
        height: 88px;               
    }

    .what-is-hot {
        background-color: #f4845d;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    .what-is-hot p {
        display: inline-block;
    }
   
    .what-is-hot img {
        display: inline-block;
        width: 20px;
        height: 10px;
        padding: 15px 5px 0 0;
    }

    .goods:hover{        
        transform: scale(1.3);
    }
       

    
  
    .goods{        
        transform: scale(1.3);
        margin-top: 80px;
    }

    .gray{
        display: flex;        
    }

    .what-is-hot {
        width: 100%;
    }

    .space-around {
        justify-content: space-around;        
    }

    .goods_container {
        flex-direction: column;
    }

    .goods_container_inside {
        width: 100%;
        height: 500px;
        margin-bottom: 60px;
    }

    .goods_container_bottom {
        flex-direction: column;
    }

    .goods_container_inside_bottom {
        height: 560px;
        width: 100%;
    }

    .load-more {
        display: block;       
        width: 220px;
        background-color: #000000;
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 30px;
        text-align: center;
        padding: 23px 0;
        border: 0;
    }
    
    .goods_container_bottom {
        flex-direction: column;    
    }

    /* FOOTER */

    .footer_black {
        height: 108px;
    }

    .footer_black .hamburger_icon {        
        width: 32px;
        height: 32px;
        margin-left: 32px;
        margin-right: 17px;
    }

    .copyright{
        position: absolute;
        right: 30px;
        width: 210px;
        height: 52px;
    }

    .copyright img {
        width: 100%;
    }
}
