* {
  margin: 0;
  padding: 0;
}

/* global styles */

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Arial MT";
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_black {
    background-color: #000000;
}

.container__inner {
    width: 970px;
    display: flex;
    max-width: 970px;
    align-items: center;     
}

.container__inner_between {
    justify-content: space-between;
}

/* Header */

.conteiner__inner__header {
    color: #ffffff;
    min-height: 30px;
    width: 100%;    
    font-size: 12px;
}

.care {
    display: inline-flex;
    align-items: flex-end;
    font-size: 12px;
}

.header__menu {
    display: flex;
}

.header__menu__select,
.header__menu__account,
.header__menu__search {
    padding: 6px 15px; 
    border-left: 1px solid #444;    
}

.header__menu__account p {
    display: inline-block;
    vertical-align: top;
}

.header__menu__account__img {
    margin-right: 10px;
}

.header__menu__select select {
    color: #ffffff;
    background: #000000;
    border: 0;
}

.header__menu__search {    
    border-right: 1px solid #444;        
}

.header__menu__select :active, 
.header__menu__select :hover {
    outline: none;
}

.header__menu img {
    width: 15px;
}

/* Logo */

.container__inner__graficlogo {
    min-height: 105px;
}

.border__cash__top {
    width: 214px;
    border: 1px solid #949393; 
    border-bottom: 0;  
}

.border__cash__top__cart {
    color: #949393;
    font-family: "Arial MT";
    font-size: 12px;
    white-space: pre;  
    padding: 10px;   
}

.border__cash__bottom {
    display: flex;
    width: 214px;
    border: 1px solid #949393;
    justify-content: space-between;
}

.border__cash__bottom__basket {
    display: inline-block;
    padding: 5px 0px 0 10px;    
    width: 20px;
    height: 20px;
}

.border__cash__bottom__amount {    
    display: inline-block;
    font-size: 11px;
    font-family: "Arial MT";
    color: #949393;
    margin: 10px;
}

/* MENU OPTIONALLY */

.menu-optionally {
    background-color: #fd926d;
    height: 48px;
    margin: 5px 0 17px 0;
    display: none;
}

.menu-optionally__text {
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 18px;
    padding-left: 17px;
}

.menu-optionally__icon {
    display: none;
}

/* Crazy   */

.container__slider {
    background-color: #f6f3ec;
    height: 440px;
}

.container__inner__slider_crazy { 
    position: relative;
    height: 100%;
}

.container__inner__slider_crazy img {
    position: absolute;
    height: 440px;
    right: 0;
}

.container__inner__button-shop-now {
    position: absolute;  
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue LT Std - Th";
    text-decoration: none;  
    user-select: none;
    padding: 23px;
    border-bottom: 3px solid #dd6b44;
    background: #fd926d;  
    top: 305px;
    left: 150px;
}

.container__inner__slider_crazy_prev,
.container__inner__slider_crazy_next {
    cursor: pointer;
    position: absolute;
    color: #ededed;
    background-color: #ffffff;
    padding: 50px 10px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    user-select: none;
}

.container__inner__slider_crazy_prev {
    left: 0;
}

.container__inner__slider_crazy_next {
    right: 0;
}

.container__inner__slider_crazy_prev:hover,
.container__inner__slider_crazy_next:hover {
    background-color: #fd926d;
}


/* Dot */

.container__dot {
    color: #867a76;
    display: inline-block;
    margin: 20px 8px;
    font-size: 40px; 
    text-decoration: none;
    user-select: none;  
    cursor: pointer; 
    transition: color 0.6s ease;
}

.active,
.container__dot:hover {
    color: #fd926d;
}

.container__inner_fade {
    -webkit-animation-name:container__inner_fade;
    -webkit-animation-duration: 1.5s;
    animation-name:container__inner_fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes container__inner_fade {
    from{opacity: 0.4}
    to{opacity: 1}
}

@keyframes container__inner_fade {
    from{opacity: 0.4}
    to{opacity: 1}
}

/* gray */

.container_gray {
    background: #ededed;  
    width: 100%;
    color: #6b6b6b;    
}

.container__inner__stay-updated {    
    display: flex;    
}

.container__inner__stay-updated__main {
    margin-right: 10px; 
    margin-top: 4px;    
}

.container__inner__stay-updated input[type="text"] {    
    background: white;
    color: #9f9f9f;  
    font-style: italic;      
}

.container__inner__stay-updated input[type="submit"] {
    background: #fd926d url(IMG/plus.png) no-repeat 50%;
    border: 0px;
    width: 28px;
    height: 28px;
    border-bottom: 3px solid #dd6b44;
}

.container__inner__find-us {
    display: flex;
    align-items: center;
}

.container__inner__find-us > a > img {
    height: 21px;
}

.container__inner__find-us > a {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__inner__find-us_text {
    margin-right: 15px;
}

.container__inner__find-us_facebook,
.container__inner__find-us_p-icon {
    background-color: #f7f7f7;
    
}

/* GOODS */

.container__inner__img-menu {
    margin-top: 40px; 
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.container__inner__img-menu img {
    position: absolute;
}

/* IMG menu left */

.container__inner__img-menu__left {
    display: inline-block;
    background-image: url('IMG/Layer_6.png');     
    height: 340px; 
    position: relative;
    width: 483px;    
}

.container__inner__img-menu__left_layer:nth-child(1) {
    left: 298px; 
    top: 69px;
}

.container__inner__img-menu__left_layer:nth-child(2) {
    left: 224px; 
    top: 105px;
}

.container__inner__img-menu__left_layer:nth-child(3) {
    left:316px; 
    top: 166px;
}

.container__inner__img-menu__left_layer:nth-child(4) {
    left: 326px; 
    top: 174px;
}

.container__inner__img-menu__left_layer:nth-child(5) {
    left: 225px; 
    top: 205px;
}

.container__inner__img-menu__left_layer:nth-child(6) {
    left: 226px; 
    top: 182px;
}

.container__inner__img-menu__left_layer:nth-child(7) {
    left: 352px; 
    top: 182px;
}

/* IMG menu right */

.container__inner__img-menu__right { 
    display: inline-block;   
    width: 483px;
    height: 340px;
}

.container__inner__img-menu__right-top {
    background-image: url('IMG/Layer_3.png'); 
    height: 169px; 
    position: relative;
    width: 100%;
}

.container__inner__img-menu__right-top_layer:nth-child(1) {
    left:29px; 
    top:17px;
}

.container__inner__img-menu__right-top_layer:nth-child(2) {
    top: 22px; 
    left: 34px;
}

.container__inner__img-menu__right-top_layer:nth-child(3) {
    top: 46px; 
    left: 60px;
}

.container__inner__img-menu__right-top_layer:nth-child(4) {
    top: 70px; 
    left: 50px;
}

.container__inner__img-menu__right-top_layer:nth-child(5) {
    top: 108px; 
    left: 60px;
}

.container__inner__img-menu__right-bottom {
    margin-top: 2px;
}

.container__inner__img-menu__right-bottom-left {    
    float: left;
    background-image: url('IMG/Layer_5.png'); 
    height: 169px; 
    width: 241px; 
    position: relative;
}

.container__inner__img-menu__right-bottom-left_layer:nth-child(1) {
    top:111px;
}

.container__inner__img-menu__right-bottom-left_layer:nth-child(2) {
    left:27px; 
    top:129px;
}

.container__inner__img-menu__right-bottom-right {
    float: right; 
    background-image: url('IMG/Layer_7.png'); 
    height: 169px; 
    width: 241px; 
    position: relative;
}

.container__inner__img-menu__right-bottom-right_layer {
    left:19px; 
    top:47px;
}

.container__inner__img-menu__right-bottom-right_botton:nth-child(1) {
    left:30px; 
    top:122px;
}

.container__inner__img-menu__right-bottom-right_botton:nth-child(2) {
    left:38px; 
    top:132px;
}

.container__inner__img-menu__right-bottom-right_botton:nth-child(3) {
    left:112px; 
    top:133px;
}

/* Goods menu */

.container__inner__menu-designers__links-text img {
    display: none;
}

.container__inner__menu-designers__arrow__prev {
    margin-right: -4px;
}

.container__inner__menu-designers__arrow__prev,
.container__inner__menu-designers__arrow__next {
    color: white;
    background: #f2f2f2; 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    user-select: none;  
    cursor: pointer; 
}

.container__inner__menu-designers__links-text:hover,
.container__inner__menu-designers__arrow__prev:hover,
.container__inner__menu-designers__arrow__next:hover {
    background-color: #fd926d;
}

.container__inner__menu-designers {
    display: flex;
    align-items: center;
}

.container__inner__menu-designers__links-text {
    display: flex;
    align-items: center;
    color: #555555;
    padding: 19px 19px 15px 19px; 
    text-decoration: none;
    user-select: none;  
    cursor: pointer; 
    transition: color 0.6s ease;
}

/* Goods */

.goods_container {
    background-color: #fd926d;
}

.goods {
    height: 395px;
    width: 220px;
    margin: 30px 0;
    background-color: #f9f5f4;
    text-align: center;
    position: relative;
}

.goods:hover {    
    transform: scale(1.08);
}

.goods:hover .goods__shop-it_hover{
    display: block;
}

.goods img {
    width: 220px;
    height: 295px;
    object-fit: none;
    object-position: top;
}

.goods__shop-it_hover {    
    position: absolute;
    background-color: #3d3d3d;
    border-radius: 50%; 
    width: 134px;
    height: 134px;
    top: 98px;
    left: 45px;
    opacity: 0.95;
    display: none;
}

.goods__shop-it_hover img {
    position: absolute;
    top: 43px;
    left: -42px;
    
}

.goods__shop-it_text {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    top: 81px;
    left: 44px;
}

.goods_name {
    color: #373737;
    font-size: 12px;
    margin-bottom: 5px;    
}

.goods_money {
    color: #373737;
    font-size: 22px;
}

.goods__button-pay {
    display: inline-block;    
    color: white;
    font-size: 15px;
    text-decoration: none;  
    user-select: none;
    padding: 5px 10px;
    border-bottom: 3px solid #dd6b44;
    background: #fd926d;  
    margin-top: 5px;
}

.load-more {
    display: none;
}

/* Clearance */

.clearance-wraper {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 24px; 
}

.clearance-wraper::before,
.clearance-wraper::after {
    content: '';
    width: calc(100% - 50% - 100px);
    height: 1px;
    background-color: #b2b2b2;
    position: absolute;
    top: calc(100% - 50% - 1px);
}

.clearance-wraper:after {
    left: 0;
}

.clearance-wraper::before {
    right: 0;
}

.clearance {
    background: url('IMG/Shape_5.png') no-repeat;
    display: inline-block; 
    position: relative; 
    width: 157px;
    height: 157px;       
}

.Layer_pictures_1 {
    position: absolute; 
    top:8px; 
    left: 8px;
}

.Layer_pictures_2 {
    position: absolute; 
    top:32px; 
    left: 42px;
}

.Layer_pictures_3 {
    position: absolute; 
    top:69px; 
    left: 52px;
}

.Layer_pictures_4 {
    position: absolute; 
    top:69px; 
    left: 89px;
}

.Layer_pictures_5 {
    position: absolute; 
    top:102px; 
    left: 89px;
}

/* Favourite brands */


.favourite-brands__main {
    border-bottom: 1px solid #b2b2b2; 
    flex-direction: column;   
}

.favourite-brands {
    align-items: center;
    padding: 15px 0;
    width: 100%
}

.favourite-brands_text {
    display: inline-block;
    color: #414141;
    font-size: 15px;
    position: relative;
    width: 100%;  
    margin: 0;
    text-align: center;
}         

.favourite-brands_text::before,
.favourite-brands_text::after {
    content: '';
    width: calc(100% - 50% - 100px);
    height: 1px;
    background-color: #b2b2b2;
    position: absolute;
    top: calc(100% - 50% - 1px);
}
        
.favourite-brands_text::after {
    left: 0;
}
        
.favourite-brands_text::before {
    right: 0;
}

/* About LookShop */

.container__inner__about {
    display: block;
    justify-content: center; 
    margin-top: 50px;
    text-align: center;
}

.container__inner__about h3 {
    font-size: 24px; 
    color: #414141;
}

.container__inner__about p {
    text-align: center; 
    margin: 15px 10px 27px 15px;
    font-size: 15px; 
    color: #999999;
}

/* Accept */

.conteiner__pay {
    background-color: #f7f7f7;
}

.conteiner__pay p {
    font-size: 13px; 
    color: #999999;
}

.conteiner__pay img{
    margin:19px 0px 17px 15px;
}
/* Footer */

.conteiner__footer {
    background-color: #ededed;
}

.conteiner__footer_conteiner {
    margin-top: 35px;
    margin-bottom: 35px;
}

.conteiner__footer_conteiner h5 {
    color: #544f4d;
    font-family: "Arial - Bold MT";
    font-size: 16px;
    line-height: 40px;
}

.conteiner__footer_conteiner a {
    opacity: 0.7;
    color: #544f4d;
    font-size: 12px;
    line-height: 18px;
    display: block;
}

.conteiner__footer_conteiner__network {
    width: 125px;
}

.conteiner__footer_conteiner__network a {
    display: inline-block;
}

.secured_logo {
    background-image: url('IMG/Shape_7.png'); 
    width: 107px; 
    height: 107px; 
    position: relative;
}

.secured_logo img {
    position: absolute;
}


.secured_logo_layer_1 {    
    top:7px; 
    left: 7px;
}

.secured_logo_layer_2 {    
    top: 11px; 
    left: 11px;
}

.secured_logo_layer_3 {
    top:37px; 
    left: 22px;
}

.secured_logo_layer_4 {
    top:66px; 
    left: 29px;
}

/* Footer black */

.conteiner__footer__black {
    vertical-align: middle;
    height: 70px;
}

.conteiner__footer__black_menu {
    display: inline-flex; 
    color: #8d8d8d;     
    font-size: 11px;
}

.conteiner__footer__black_menu a {
    color: #8d8d8d;
}

.conteiner__footer__black_menu div:not(:first-child) {
    border-left: 1px solid #8d8d8d;
    margin-left: 10px;
    padding-left: 10px;
}

.hamburger_icon {
    display: none;
}

.copyright {
    width: 97px;
}

.copyright img {
    width: 100%;
}






@media screen and (max-width: 768px) {

/* global styles */

    .container__inner {
        width: 730px;
        max-width: 730px;
    }

    .hide-768px {
        display: none;
    }

    /* Menu optionally */

    .menu-optionally {
        display: flex;
        position: relative;
    }

    .menu-optionally__icon {
        display: block;
        height: 32px;
        width: 32px;
        margin-right: 17px;              
    }

    .menu-optionally__icon svg {
        width: 30px;
        height:30px;
    }

    .menu-optionally__clearfix {
        position: absolute;
        background-color: #fd926d;
        right: 0;
        top: 45px;
        z-index: 1;
        display: none;
    }

    .menu-optionally__clearfix li {
        padding: 10px;
        border-bottom: 1px solid #dd6b44;
    }

    .menu-optionally__clearfix li a {
        color: #ffffff;
        font-family: "Arial MT";
        font-size: 18px;
        text-decoration: none;       
    }

/*Slider */

    .container__inner__slider__crazy-lady {       
        width: 100%;
    }

    .container__inner__button-shop-now {
        left: 100px
    }

/* Button shop now */

    .button-shop-now {
        left: 100px;
    }

    .goods:hover {        
        transform: scale(1);
    }

    .goods:hover .goods__shop-it_hover {
        display: none;
    }

}





@media screen and (max-width: 640px) {

    * {
        font-size: 30px;
    }

    .conteiner__inner__header,    
    .hamburger_icon {
        display: block;
    }
    
    .hide-640px {
        display: none;
    } 

    .care {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 37px 0 37px 0;
        color: grey;
        background-color: #fff;             
    }

    .header__menu__select,
    .header__menu__search,
    .header__menu__account {
        display: flex;
        align-items: center;
    }

    .header__menu__search img {
        width: 33px;        
    } 

    .header__menu__account .header__menu__account__img {
        width: 40px;        
    }     

    .header__menu__select,
    .header__menu__search {
        border: 0;
        padding: 0 30px;
    }
    .header__menu__account {
        border-right: 1px solid #444; 
        padding: 30px;            
    } 

    .header__menu {
        height: 96px;
        justify-content: space-around;
    }

    /*Basket */

    .border__cash {
        width: calc(100% - 15px);
    }

    .border__cash__bottom {
        background-color: #fafafa;
        width: 100%;
        height: 96px;
        justify-content: space-between;
    }

    .container__inner__graficlogo {
        flex-direction: column;
    }

    .container__inner__graficlogo_img {
        width: 275px;
        margin: 55px 0;
    }

    .border__cash__bottom__basket {
        height: 50px;
        width: 50px;
        float: left;
        margin: 18px 0 0 20px;
    }

    .border__cash__bottom__amount {
        float: right;
        margin: 30px 20px 0 0;
    }

    /* Menu optionally */

    .menu-optionally {
        width: calc(100% - 15px);;
        height: 95px; 
        margin-top: 23px;        
    }

    .menu-optionally p {
        font-size: 30px;
    }

    .menu-optionally .menu-optionally__icon {        
        width: 32px;
        height: 32px;
        margin-right: 17px;
    }

    .menu-optionally__icon svg {
        width:30px;
        height: 30px;
    }
    

    /* STAY UPDATE */

    .container_gray {
        background-color: white;
        margin-top: 7px;
    }

    .container__inner__stay__email {        
        flex-direction: column;
        width: calc(100% - 15px);
        margin-bottom: 11px;
    }

    .container__inner__stay-updated {
        width: 100%;
    }

    .container__inner__stay-updated input[type="text"] { 
        background-color: #ededed;
        border: 0;
        height: 96px;
        width: 85%;
        padding-left: 29px;
        margin-bottom: 25px;
    }

    .container__inner__stay-updated input[type="submit"] {
        width: 96px;
        height: 96px;
        background-size: 40%;
        border-bottom: 8px solid #dd6b44;
    }   

    .container__inner__find-us > a {
        width: 90px;
        height: 90px;
    }

    .container__inner__find-us > a > img {
        transform: scale(1.4);
    }

    .container__inner__find-us .twitter {
        background-color: #ededed;
    }

    /* What is hot */

    .container__inner__menu-designers {        
        width: 100%;
        height: 88px;
    }

    .container__inner__menu-designers__whats-is-hot {
        background-color: #f4845d;
        margin-top: 15px;
        height: 40px;        
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .container__inner__menu-designers__whats-is-hot:hover {
        background: #f4845d;
    }

    .container__inner__menu-designers__whats-is-hot p {
        display: inline-block;
        color: white;
    }
   
    .container__inner__menu-designers__whats-is-hot img {
        display: inline-block;       
    }

    /*Goods */

    .goods_container,
    .goods__container__bottom {
        flex-direction: column;        
    }

    .goods__container__inside,
    .goods__container__inside__bottom {
        justify-content: space-around;
    }

    .goods {        
        transform: scale(1.3);
        margin-top: 80px;
    }

    .goods:hover {        
        transform: scale(1.3);
    }   
    
    .goods__container__inside,
    .goods__container__inside__bottom {
        width: 100%;
        height: 500px;
        margin-bottom: 60px;        
    }

    .goods__container__inside__bottom {        
        width: 100%;
    }

    .load-more {
        display: block;       
        width: 220px;
        background-color: #000000;
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 30px;
        text-align: center;
        padding: 23px 0;
        border: 0;
        cursor: pointer;
    } 
    
    /* FOOTER */

    .conteiner__footer__black {
        height: 108px;
    }

    .conteiner__footer__black .hamburger_icon {        
        width: 32px;
        height: 32px;
        margin-left: 32px;
        margin-right: 17px;
    }

    .conteiner__footer__black .hamburger_icon svg {
        width: 30px;
        height: 30px;
    }

    .copyright {
        position: absolute;
        right: 30px;
        width: 210px;
        height: 52px;
    }

    .copyright img {
        width: 100%;
    }
}
